[Unit]
Description=SSH WebSocket (Dropbear) Service - by znandev
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bin
ExecStart=/usr/bin/python3 /usr/local/bin/ws-dropbear 2082
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target

